 // reset slick css
 .slick-prev {
     border: 1px solid green !important;
     left: -10px !important;
     // position: relative !important;
     z-index: 1000 !important;
     width: 44px !important;
     height: 48px !important;
     background: #fff !important;
     border: 2px solid #d7d7d7 !important;

     &:hover {
         background: #cfc4c4 !important;
     }

 }

 .slick-prev::before {
     font-family: FontAwesome !important;
     // content: "\e257" !important;
     color: red !important;
 }

 .slick-next {
     border: 1px solid red !important;
     right: -10px !important;
     width: 44px !important;
     height: 48px !important;
     background: #fff !important;
     border: 2px solid #d7d7d7 !important;

     &:hover {
         background: #cfc4c4 !important;
     }

 }

 .slick-next::before {
     font-family: FontAwesome !important;
     // content: "\e258" !important;
     color: red !important;
 }


 .section-share {
     &.section-specailty {
         background: #f5f5f5;
     }

     &.section-outstandingDoctor {
         background: #f5f5f5;
     }



     .section-body {
         .section-customize {
             .bg-img {
                 background: url('../../../assets/Specialty/154944-noi-soi-thu-cuc.jpg');
                 background-position: center center;
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-color: #eee;
                 height: 150px;
                 width: 317px;

                 &.section-specailty {
                     background-image: url('../../../assets/Specialty/154944-noi-soi-thu-cuc.jpg');

                 }

                 &.section-medical {
                     background-image: url('../../../assets/MedicalFacilities/th.jpg');

                 }

                 &.section-outstandingDoctor {
                     background-image: url('../../../assets/OutstandingDoctor/144801-3.png');
                     border-radius: 50%;
                     width: 120px;
                     height: 120px
                 }

                 &.section-HandBook {
                     background-image: url('../../../assets/OutstandingDoctor/144801-3.png');
                 }

             }
         }
     }
 }

 .section-share {
     height: 330px;


     .section-container {
         margin: 0 100px;
         display: flex;
         flex-direction: column;


         .section-header {
             height: 60px;
             padding-top: 20px;
             margin-bottom: 20px;

             .title-secsion {
                 font-size: 22px;
                 font-size: 600;
             }

             .btn-section {
                 float: right;
                 padding: 10px 15px;
                 display: block;
                 outline: none;
                 border: none;
                 cursor: pointer;
                 background: #ebebeb;

                 &:hover {
                     background: #f7d800;
                     color: #fff;
                 }
             }
         }



     }



 }

 .section-outstandingDoctor {
     .outter-bg {
         display: flex;
         justify-content: center;
         margin-bottom: 10px;
     }

     .section-customize {
         padding: 5px;

         .customize-boder {
             border: 1px solid green;
             padding: 20px;
         }
     }
 }